.date-picker {
    -fx-background-color: #f5f5f5;
}

.date-picker > .text-field,
.date-picker > .text-field {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #777777;
    -fx-font-style: italic;
}

.date-picker > .arrow-button {
    -fx-background-color: #f5f5f5;
}

.date-picker:focused {
    -fx-background-color: #f5f5f5;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: #f5f5f5;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}
.date-picker:focused > .arrow-button, .date-picker > .arrow-button {
    -fx-background-image: url("/images/date.png") !important;
    -fx-background-size: 60%, 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.date-picker-popup {
    -fx-font-family: Arial;
    -fx-background-color: #f5f5f5;
    -fx-effect: dropshadow(gaussian, rgba(170, 170, 170, 0.2), 10, 0.0, 0, 2);
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: #232323;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #f5f5f5;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: #f5f5f5;
    -fx-color: transparent;
}

.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: #f08080;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: #f5f5f5;
}

.date-picker-popup > * > .date-cell {
    -fx-background-insets: 0;
    -fx-opacity: 1.0;
}

.date-picker-popup > * > .week-number-cell {
    -fx-border-width: 0;
}

.date-picker-popup > * > .day-cell {
    -fx-border-width: 0;
}

.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: #f08080;
    -fx-text-fill: #f5f5f5;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #f08080;
    -fx-text-fill: #f5f5f5;

}
