@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.ttf');
}

.root {
    -fx-font-size: 12px;
    -fx-font-family: Arial;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #232323;
}

.title-huge {
    -fx-font-size: 36px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
}

.title{
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
}

.label-normal{
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-text-fill: #555555;
}


.jfx-text-field {
    -fx-prompt-text-fill: #989898;
}

.input {
    -fx-font-size: 16px;
}

.input-light{
    -fx-font-size: 14px;
    -fx-text-fill: #7f7f7f;
}

.normal-tip{
    -fx-font-size: 16px;
}

.wrong-tip {
    -fx-font-size: 12px;
    -fx-text-fill: #e23241;
}

.btn-basic {
    -fx-font-size: 18px;
    -fx-background-color: #D9001B;
    -fx-text-alignment: center;
    -fx-border-style: none;
    -fx-cursor: pointer;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.btn-basic:hover {
    -fx-font-size: 19px;
    -fx-opacity: 0.8;
}

.btn-icon{
    -fx-font-family: "iconfont";
    -fx-font-size: 14px;
}

.btn-sort{
    -fx-font-size: 13px;
    -fx-text-fill: #777777;
    -fx-background-color: #eeeeee;
    -fx-text-alignment: center;
    -fx-cursor: pointer;
}

.btn-sort:hover {
    -fx-opacity: 0.8;
}

.text-field-without-line{
    -fx-font-family: Arial;
    -fx-text-fill: #777777;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-background-color: #f5f5f5;
    -jfx-focus-color: #f5f5f5;
    -jfx-unfocus-color: #f5f5f5;
    -fx-padding: 5px, 0;
}

.decoration-line{
    -fx-background-color: #dddddd;
}

.scroll-pane{
    -fx-background-color:transparent;

}
