@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.ttf');
}

.root {
    -fx-font-size: 12px;
    -fx-font-family: Arial;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #232323;
}

.title-huge {
    -fx-font-size: 36px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
}

.title {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
}

.label-normal {
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-text-fill: #555555;
}

.label-player {
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-text-alignment: right;
}


.jfx-text-field {
    -fx-prompt-text-fill: #989898;
}

.input {
    -fx-font-size: 16px;
}

.input-light {
    -fx-font-size: 14px;
    -fx-text-fill: #7f7f7f;
}

.normal-tip {
    -fx-font-size: 16px;
}

.wrong-tip {
    -fx-font-size: 12px;
    -fx-text-fill: #e23241;
}

.btn-basic {
    -fx-font-size: 18px;
    -fx-background-color: #323838;
    -fx-text-alignment: center;
    -fx-border-style: none;
    -fx-cursor: pointer;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.btn-basic:hover {
    -fx-font-size: 19px;
    -fx-opacity: 0.8;
}

.btn-icon {
    -fx-font-family: "iconfont";
    -fx-font-size: 14px;
}

.btn-sort {
    -fx-font-size: 13px;
    -fx-text-fill: #777777;
    -fx-background-color: #eeeeee;
    -fx-text-alignment: center;
    -fx-cursor: pointer;
    -fx-background-radius: 0;
}

.btn-sort:hover {
    -fx-opacity: 0.8;
}

.text-field-without-line {
    -fx-font-family: Arial;
    -fx-text-fill: #777777;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-background-color: #f5f5f5;
    -jfx-focus-color: #f5f5f5;
    -jfx-unfocus-color: #f5f5f5;
    -fx-padding: 5px, 0;
}

.text-field-without-line-background {
    -fx-font-family: Arial;
    -fx-text-fill: #777777;
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-background-color: #eeeeee;
    -jfx-focus-color: #f5f5f5;
    -jfx-unfocus-color: #f5f5f5;
    -fx-padding: 5px, 0;
}

.tx-no-line-center {
    -fx-font-family: Arial;
    -fx-text-fill: #999999;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-background-color: #f5f5f5;
    -jfx-focus-color: #f5f5f5!important;
    -jfx-unfocus-color: #f5f5f5!important;
    -fx-padding: 5px, 0;
}

.tx-no-line-center-title {
    -fx-font-family: Arial;
    -fx-text-fill: #777777;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #bbbbbb;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #f5f5f5;
    -jfx-focus-color: #f5f5f5!important;
    -jfx-unfocus-color: #f5f5f5!important;
}

.decoration-line {
    -fx-background-color: #eeeeee;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.item-container:hover {
    -fx-background-color: #fafafa;
}

.avatar {
    -fx-background-color: #C8DEDE;
    -fx-background-radius: 50px;
    -fx-background-image: url("../images/user.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%, 70%;
}

.exit-button {
    -fx-background-image: url("images/exit.png") !important;
    -fx-background-size: 60%, 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.jfx-check-box .box {
    -fx-pref-height: 14px;
    -fx-pref-width: 14px;
}

.jfx-check-box .mark {
    -fx-max-width: 14px;
    -fx-max-height: 14px;
}

.jfx-check-box {
    -fx-text-fill: #555555;
}

.jfx-text-field,
.jfx-password-field {
    -jfx-focus-color: #99aaaa;
    -fx-prompt-text-fill: #aaaaaa;
}

.jfx-combo-box {
    -jfx-focus-color: #99aaaa;
    -fx-prompt-text-fill: #aaaaaa;
}

.combo-box-popup .list-view {
    -fx-border-width: 0px;
    -fx-border-color: #f5f5f5;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: #555555;
    -fx-background-color: #f5f5f5;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #232323;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #555555;
    -fx-text-fill: #f5f5f5;
}




